<div class="d-flex flex-column align-items-center justify-content-between vh-100">
    <div class="container-fluid">
        <div class="h-100"></div>
        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Sayfa Bulunamadı</p>
            <p class="text-gray-500 mb-0">Görünüşe göre aradığın sayfayı bulamadık...</p>
        </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white ">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; 2020</span>
            </div>
        </div>
    </footer>
</div>